/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
  font-family: 'Work Sans', sans-serif;
}

header {
    text-align: center;
}

.title {
  font-size: 60px;
}

p {
  font-size: 25px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    margin: 0;
    flex-wrap: wrap;
}

.decimalPart {
  text-align: center;
  display: inline;
  max-width: 30%;
}

.decH3 {
  font-weight: bold;
}

#upSpan {
  font-size: 30px;
  font-weight: bold;
  transition: all 0.5 ease;
}

#upSpan:hover {
  cursor: pointer;
  font-style: italic  ;
}

#downSpan {
  font-size: 30px;
  font-weight: bold;
  transition: all 0.5 ease;
}

#downSpan:hover {
  cursor: pointer;
  font-style: italic;
}

.spanFinal {
  font-weight: bold;
}

/*Input*/

.form {
  width: 40%;
  position: relative;
  height: 60%;
  font-size: 25px;
  overflow: hidden;
}

.form input {
  width: 100%;
  height: 100%;
  color: rgb(36, 36, 36);
  padding-top: 35px;
  font-weight: 100;
  padding-bottom: 5px;
  border: none;
  outline: none;
  font-size: 20px;
}

.form label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  height: 100%;
  width: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}

.form label::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 2px solid #949494;
  left: 0px;
  bottom: -1px;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.content-total {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.form input:focus + .label-total .content-total,
.form input:valid + .label-total .content-total {
  transform: translateY(-150%);
  font-size: 20px;
  color: gray;
}

.form input:focus + .label-total::after,
.form input:valid + .label-total::after {
  transform: translateX(0%);
}


/* Button */

div[class*=box] {
  height: 33.33%;
  width: 15%; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5%;
  padding-bottom: 2px;
}

.box-3 { background-color: #ffffff; }

.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}

.btn-three {
  color: rgb(0, 0, 0);
  transition: all 0.5s;
  position: relative;
}
.btn-three::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}
.btn-three:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}
.btn-three::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(0, 0, 0, 0.5);
  transform: scale(1.2,1.2);
}
.btn-three:hover::after {
  opacity: 1;
  transform: scale(1,1);
}

/* Classes */

.redMsg {
  color: red;
}

.yellowMsg {
  color: yellow;
}