/*All im showing off is the next 9 css things*/
.btn-juicy {
	box-shadow: 5px 10px#aaa;
	transition: 0.2s;
}
.btn-juicy:hover:active {
	transition: 0.1s;
	box-shadow: 1px 2px#444;
	transform: translate(5px, 10px);
}
.btn-juicy:hover {
	box-shadow: 6px 12px#b4b4b4;
	transform: translate(-1px, -2px);
}

/*Now for the eenie weenie buttons*/
.btn-juicy.juice-small {
	text-decoration: none;
	box-shadow: 2px 4px #aaa;
}
.btn-juicy.juice-small:hover:active {
	box-shadow: 1px 2px #444;
	transform: translate(1px, 2px);
}
.btn-juicy.juice-small:hover {
	box-shadow: 3px 6px #b4b4b4;
	transform: translate(-1px, -2px);
}

/*And the FRIKIN HUGE ones*/
.btn-juicy.juice-big {
	box-shadow: 10px 20px#aaa;
}
.btn-juicy.juice-big:hover:active {
	box-shadow: 2px 4px#444;
	transform: translate(10px, 20px);
}
.btn-juicy.juice-big:hover {
	box-shadow: 12px 24px#b4b4b4;
	transform: translate(-2px, -4px);
}

/*Thats the animations done, the rest of the styling is up to U!*/

.btn {
	color: black;
	border-radius: 20px;
	background-color: white;
	color: black;
	text-decoration: none;
	padding: 20px;
	margin: 10px;
}

.small{
	padding:5px;
}
.text{
	width:200px;
}

.button-div {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	height: 90vh;
	width: 100%;
}